.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 0.85rem;
  width: 100%;
  max-width: var(--max-width);
  font-family: var(--font-mono);
}

.container > h1 {
  max-width: 500px;
  text-align: center;
}
